@import "https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap";
@import "https://fonts.googleapis.com/css2?family=Aleo&display=swap";

$font-weight-bold: 700;
$fontWeight-regular: 400;
$font-weight-medium: 500;
