@use "variables" as *;
@use "fonts" as *;

@mixin zero {
  margin: 0;
  padding: 0;
  border: 0;
}

@mixin d-flex-row {
  display: flex;
  flex-direction: row;
}

@mixin d-flex-col {
  display: flex;
  flex-direction: column;
}

@mixin d-flex-row-alignCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin d-flex-col-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin padding-BigScreen {
  padding: 2rem 6rem;
}

@mixin padding-SmallScreen {
  padding: 30px;
}

@mixin primary-Button {
  text-transform: uppercase;
  background-color: $primaryColor;
  border: none;
  @include primary-Btn-text;
  &:hover {
    background: rgba($whiteColor, 1);
    color: $primaryColor;
  }
}

@mixin min-primary-Button {
  text-transform: none;
  background-color: $primaryColor;
  border: none;
  @include min-primary-Btn-text;
  &:hover {
    background: rgba($whiteColor, 1);
    color: $primaryColor;
  }
}

@mixin bg-image-cover-noRepeat {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin primaryButton-Size {
  padding: 20px 64px;
}

@mixin min-primaryButton-Size {
  padding: 20px 34px;
}
