//Colors
$primaryColor: #5474fd;
$primaryColorHover: #7089fc;
$whiteColor: #ffffff;
$blackColor: #000000;
$bgPrimaryBlack: #232323;
$bgSecondaryBlack: #333333;
$greyColor: rgba(182, 182, 182, 0.95);
$greyFont: grey;

//Borders
$whiteBorder: 4px $whiteColor solid;
